/unsupervised_learning_clustering_part1/data/
/linear_regression/data/
/linear_regression/.ipynb_checkpoints/
/unsupervised_learning_clustering_part1/.ipynb_checkpoints/
/logistic_regression/.ipynb_checkpoints/
/unsupervised_deep_learning_dim_red_part2/.ipynb_checkpoints/
